<% if @task.errors.any? %>
  <div id="error_explanation">
    <h2><%= @task.errors.count %><%= t('view.error_exist') %></h2>
    <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with(model: @task, local: true) do |f|%>
  <div class="field">
    <table>
      <tr>
        <td><%= f.label :name %></td>
      </tr>
      <tr>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td><%= f.label :detail %></td>
      </tr>
      <tr>
        <td><%= f.text_area :detail %></td>
      </tr>
    </table>
  </div>
  <%= f.submit t('view.register') %>
<% end %>
