<% if @task.errors.any? %>
  <div id="error_explanation">
    <h2><%= @task.errors.count %><%= t('view.error_exist') %></h2>
    <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @task, local: true) do |f|%>
  <div class="field">
    <table>
      <tr>
        <td><%= f.label :name %></td>
      </tr>
      <tr>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td><%= f.label :detail %></td>
      </tr>
      <tr>
        <td><%= f.text_area :detail %></td>
      </tr>
      <tr>
        <td><%= f.label :expired_at %></td>
      </tr>
      <tr>
        <td><%= f.date_select :expired_at %></td>
      </tr>
      <tr>
        <td><%= f.label :status %></td>
      </tr>
      <tr>
        <td><%= f.select :status, [["未着手", "未着手"], ["着手中", "着手中"], ["完了", "完了"]], include_blank: "選択して下さい", required: true %></td>
      </tr>
      <tr>
        <td><%= f.label :priority %></td>
      </tr>
      <tr>
        <td><%= f.select :priority, options_for_select_from_enum(Task, :priority) %></td>
      </tr>
      
      <br>

      <% Label.all.each do |label| %>
        <tr>
          <td><%= f.check_box :label_ids, { multiple: true, checked: @task.label_ids.include?(label.id), disabled: label[:disabled], include_hidden: false }, label[:id] %>
          <%= f.label :label_ids, label.name, value: label[:id] %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <%= f.submit t('view.register') %>
<% end %>
