<p><%= notice %></p>

<table>
  <% @tasks.each do |task| %>
    <tr>
      <td class = task_row>
        <h3><%= task.name %></h3>
      </td>
      <td>
        <h3><%= task.detail %></h3>
      </td>
      <td><%= link_to t('view.edit'),edit_task_path(task.id), data: { confirm: '本当に編集していいですか？' } %></td>
      <td><%= link_to t('view.detail'),task_path(task.id) %></td>
      <td><%= link_to t('view.delete'),task_path(task.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
    </tr>
  <% end %>
</table>

<table>
  <tr>
    <td><%= link_to t('view.register'),new_task_path %></td>
    
  </tr>
</table>