<p> <% t('view.detail') %> </p>

<table class="table">
  <tr>
    <th scope="col">ユーザー名</th>
    <th scope="col">タスク</th>
    <th scope="col">詳細</th>
    <th scope="col">終了期限</th>
    <th scope="col">ステータス</th>
    <th scope="col">優先度</th>
    <th scope="col">ラベル</th>
  </tr>
  <tr>
    <td><%= @task.user.name %></td>
    <td><%= @task.name %></td>
    <td><%= @task.detail %></td>
    <td><%= @task.expired_at %></td>
    <td><%= @task.status %></td>
    <td><%= @task.priority %></td>
    <td>
      <% @task.labels.each do |label| %>
        <%= label.name %>
      <% end %>
    </td>
  </tr>
</table>